-- Execute no Supabase SQL Editor: https://supabase.com/dashboard/project/kfkhdfnkwhljhhjcvbqp/sql/new

-- Ver seu usuário
SELECT id, email FROM auth.users ORDER BY created_at DESC LIMIT 5;

-- Adicionar 1000 créditos ao seu usuário (substitua o email)
UPDATE credits 
SET balance = balance + 1000
WHERE user_id = (SELECT id FROM auth.users WHERE email = 'SEU_EMAIL_AQUI' LIMIT 1);

-- Verificar créditos
SELECT u.email, c.balance, c.bonus_balance 
FROM credits c
JOIN auth.users u ON u.id = c.user_id
ORDER BY c.updated_at DESC;

